body{
    background: #f5f5f5
}
/* top start */
.top{
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}
.top-content a{
    position: relative;
    color: inherit;
}
.top-content a:hover{
    color: #ff4040;
}
/* 左侧 */
.deliver-position{
    padding-left: 29px;
}
.deliver-position::before{
    font-family: 'icomoon';
    content: '\e948';
    font-size: 16px;
    position: absolute;
    top: -6px;
    left: 11px;
    color: #ff4040
}
.internet-police-tips{
    padding-left: 45px;
}
.internet-police-tips::before{
    font-family: 'icomoon';
    content: '\e904';
    font-size: 18px;
    position: absolute;
    top: -6px;
    left: 24px;
    color: #ff4040
}
/* 右侧 */
.top-right li{
    float: left;
}
.top-right li a{
    margin-right: 20px;
}
.top-right .top-login{
    color: #ff4040;
}
.vip-club{
    padding-left: 20px;
    position: relative;
}
.my-order{
    padding-left: 20px;
    position: relative;
    margin-right: 8px !important; 
}
.vip-club::before,
.my-order::before{
    font-family: 'icomoon';
    content: '\e908';
    font-size: 16px;
    position: absolute;
    top: -7px;
    left: 0px;
}
.my-order::before{
    content: '\e907';
}
/* top end */


/* header start */
.header{
    height: 180px;
    width: 100%;
    background: #fff;
}
.logo-1,
.logo-2{
    width: 140px;
    height: 140px;
    display: block;
    margin-top: 1px;
}
.logo-2{
    width: 160px;
    height: 90px;
    margin-top: 30px;
}
.logo-1 img,
.logo-2 img{
    width: 100%;
    height: 100%;
}
.header-right{
    width: 650px;
    margin-top: 50px;
}
.header-search{
    position: relative;
}
.hd-search-inp{
    width: 428px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 40px;
    line-height: 40px;
    color: #333;
    background: #fcfcfc;
    border: 1px solid #ccc;
    outline: 0;
    padding: 0 48px 0 32px;
    font-size: 14px;
}
.hd-search-inp:hover{
    border-color: #ff4040;
}
.hd-search-btn{
    font-family: 'icomoon';
    font-size: 20px;
    position: absolute;
    top: 6px;
    right: 160px;
    cursor: pointer;
}
.hd-shopping-cart{
    width: 120px;
    height: 42px;
    border-radius: 100px;
    outline: 0;
    border: 1px solid #ccc;
    position: absolute;
    right: 0;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
}
.hd-shopping-cart::before{
    font-family: 'icomoon';
    content: '\e93a';
    font-size: 16px;
    margin-right: 5px;
}
.hd-shopping-cart:hover{
    background: #fcfcfc;
}
.header-right p{
    padding: 6px 0 0 32px;
    height: 19px;
}
.header-right p a{
    float: left;
    margin-right: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #aaa;
}
.header-right p a:hover{
    color: #333;
}
.header-nav ul li{
    float: left;
    margin-left: 30px;
    line-height: 38px;
    font-size: 16px;
    color: #333;
}
.header-nav ul li a{
    color: inherit
}
.header-nav ul li a:hover{
    color: #ff4040;
}
.header-nav .catagroy-list{
    width: 140px;
    height: 39px;
    background: #ff4040;
    font-size: 16px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    position: relative;
    padding-right: 10px;
    box-sizing: border-box;
}
.header-nav .catagroy-list::before{
    font-family: 'icomoon';
    content: '\e9bb';
    font-size: 12px;
    margin-right: 10px;
}
.header-nav .catagroy-list::after{
    font-family: 'icomoon';
    content: '\ea51';
    font-size: 16px;
    position: absolute;
    top: -2px;
    right: 12px;
}
.header-nav .catagroy-list:hover::after{
    content: '\ea52';
    top: 2px;
}
/* header start */


/* lunbo start */
.lunbo{
    width: 100%;
    height: 400px;
    position: relative;
}
.lunbo:hover .lunbo-left{
    display: block;
}
.lunbo:hover .lunbo-right{
    display: block;
}
.lunbo ul img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.lunbo ul a:first-child img{
    opacity: 1;
}
.lunbo ol{
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background: rgb(255, 255, 255,.5);
    border-radius: 10px;
}
.lunbo ol li{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px 6px;
}
.lunbo ol li.current{
    background: red;
}
.lunbo-left,
.lunbo-right{
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
.lunbo-left{
    left: 10%;
}
.lunbo-right{
    right: 10%;
}
.lunbo-left::before,
.lunbo-right::before{
    font-family: 'icomoon';
    content: '\ea50';
    font-size: 28px;
    color: #fff;
}
.lunbo-left::before{
    margin-left: 6px;
}
.lunbo-right::before{
    content: '\ea53';
    margin-right: 6px;
}
/* lunbo end */


/* new_person_channel start */
.new_person_channel{
    height: 110px;
    margin-top: 40px;
}
.new_person_channel img{
    width: 100%;
    height: 100%;
}
/* new_person_channel end */


/* super_single start */
.super_single{
    height: 444px;
    margin-top: 20px;
    background: url('../img/super_single_bg.png') no-repeat top;
    overflow: hidden;
}
.super_single dl{
    margin: 12px 10px 0;
}
.super_single dl dt,
.super_single dl dd{
    width: 210px;
    height: 216px;
    background: #fff;
    float: left;
}
.super_single dl dt{
    background: 0;
}
.super_single dl dt a,
.super_single dl dd a{
    display: block;
    width: 100%;
    height: 100%;
}
.super_single dl dt img{
    width: 129px;
    height: 36px;
    margin: 22px 0 0 20px;
    display: block;
}
.super_single .single-text{
    width: 180px;
    height: 40px;
    margin-left: 24px;
}
.super_single .sing_text_font{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.super_single .single_text_line{
    height: 3px;
    width: 28px;
    display: block;
    background: #fff;
    margin-top: 8px;
}
.super_single .single-djs{
    margin-left: 24px;
}
.super_single .single-djs p{
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
    padding-left: 25px;
    position: relative;
}
.super_single .single-djs p::before{
    font-family: 'icomoon';
    content: '\e950';
    position: absolute;
    left: 0;
    top: 0;
}
.super_single .single-djs span{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #161616;
    color: #fff;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.super_single .single-djs i{
    display: inline-block;
    width: 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: -3px;
    font-style: normal;
}
.super_single dl dd:hover{
    -webkit-box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
    -moz-box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
    box-shadow: 0 5px 31px 0 rgba(0,0,0,0.09);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}
.super_single .single-dd-top{
    width: 210px;
    height: 135px;
    position: relative;
}
.super_single .single-dd-top img{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.super_single .single-dd-bottom{
    height: 81px;
    width: 150px;
    /* background: skyblue; */
    margin: 0 auto;
}
.super_single .single-dd-bottom .s-title{
    width: 153px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #333;
}
.super_single .single-dd-bottom .s-bar{
    width: 150px;
    height: 6px;
    margin-top: 10px;
    background-color: #e2e2e2;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.super_single .single-dd-bottom .s-progress{
    width: 60%;
    height: 100%;
    border-radius: 100px;
    background: #d9161d;
}
.super_single .single-dd-bottom .s-con{
    padding-top: 12px;
    text-align: center;
}
.super_single .single-dd-bottom .s-con .s-now-price{
    color: #e50113;
    font-weight: bold;
    font-size: 14px;
}
.super_single .single-dd-bottom .s-con .s-old-price{
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}


/* super_single end */


